@font-face {
    font-family:'Source Code Pro', monospace;
    src: url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700&display=swap');
    ;
}

body {
    font-family: 'Source Code Pro', monospace;
  
}